*{
    text-align: center;
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ), url(images/matrix.gif);
    height: 100vh;
    background-size: 100% 100%;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-content{
    margin: 0 auto;
    width: 900px;
    color: rgb(0, 255, 0);
}
.bottom{
    width: 45%;
    float: left;
    margin: 2%;
    margin-top: 5%;
}
.pill-img{
    transition: 1s;
    cursor: pointer;
}
.pill-img:hover{
    transform: scale(1.2);
}
.main-text{
    font-size: 25px;
    font-weight: bolder;
}
.description{
    font-size: 16px;
}
.congrats{
    font-size: 36px;
    margin-bottom: 4%;
}
.timer{
    font-size: 22px;
    margin: 3%;
}